.mx-header {
    display: flex;
    justify-content: space-between;
}
.mx-title {
    width: 100px;
    padding: 10px;
    font-size: 24px;
    background-color: #e3b3b3;
}

body {
    display: flex;
    justify-content: center;
    border: 1;
}
.main-container{
    width: 700px;
    min-height: 800px;
    border: 1px rgb(0, 0, 0) solid;
}
/*上部容器*/
.main-upside{
    width:100%;
    border-top: 1px rgb(0, 0, 0) solid;
    border-bottom: 1px rgb(0, 0, 0) solid;
    padding: 0%;
    line-height: 25px;
}
.main-in-upside{
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
    display: flex;
    padding: 0%;
    justify-content: space-between;
    font-size: 18px;
}

.text-right{
    padding-right: 50px;
}
.text-left{
    padding-left: 20px;
}
button{
    margin-top: 4px;
    height: 23px;
    width:123px;
    float:right;
}
input{
    width: 115px;
}
.horizontal{
    display: flex;
    margin-left: 15px;
}
.main-bottom{
    padding: 20px;
    display: flex;   
    justify-content: space-around;
    font-size: 25px;
}
.table1{
    border-spacing:0;
    border-right: 1px rgb(0, 0, 0) solid;
    border-bottom: 1px rgb(0, 0, 0) solid;
}
.td1{
    border-left: 1px rgb(0, 0, 0) solid;
    border-top: 1px rgb(0, 0, 0) solid;
    width :30px;
    border-collapse: collapse;
    text-align: center;
}
.tr1{
    height: 30px;
}
.cell_click{
    width:100%;
    height:100%;
    display: block;
}
.font-timer{
    margin-left:10px;
    font-size: 20px;
}