.mx-header {
    display: flex;
    justify-content: space-between;
}
.mx-title {
    width: 100px;
    padding: 10px;
    font-size: 24px;
    background-color: #e3b3b3;
}

body {
    display: flex;
    justify-content: center;
    border: 1;
}
.main-container{
    width: 700px;
    min-height: 1000px;
    border: 1px rgb(0, 0, 0) solid;
}
/*上部容器*/
.main-upside{
    width: 700px;
    border-top: 1px rgb(0, 0, 0) solid;
    border-bottom: 1px rgb(0, 0, 0) solid;
    padding: 0%;
    line-height: 25px;
}
.main-in-upside{
    width: 699px;
    display: flex;
    padding: 0%;
    justify-content: space-between;
    font-size: 18px;
}
.text-right{
    padding-right: 80px;
}
button{
    height: 25px;
    width:120px;
    margin-right: 50px;
    
}
input{
    width: 100px;
}
